*{

	margin: 0;

}

html,body{

	background-color: #fff;
	height: 100%;
	width: 100%;


}

h1, h2, h3, h4{

}

#main{
	display: flex;
  	flex-flow: row wrap;
}

.haut, .milieu, .bas{
	flex: 1 100%;
	text-align: center;
}

@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .cote1{ flex: 1 auto; }
  .cote2{ flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .milieu { flex: 2 0px; }
  
  .cote1 { order: 1; }
  .milieu { order: 2; }
  .cote2 { order: 3; }
  .bas  { order: 4; }
}

.haut{
	color: #fff;
	background-image: url("../img/nav.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	width: 100%;
	height: 30%;
	margin: auto;
	display: flex;
	
}

.article{
	background-color: rgba(0, 0, 0, 0.4);
}

.milieu{
	color: #fff;
	background-image: url("../img/fall-autumn-red-season.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	width: 100%;
	height: 50%;
	margin: auto;
	display: flex;

}

.cote1{

	background-image: url("../img/pexels-photo-108783.jpeg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	display: flex;
}

.cote2{
	background-image: url("../img/5142034-hd-pictures.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	display: flex;
}

.bas{
	color: #fff;
	background-color: blue;
	width: 100%;
	height: 20%;
	margin: auto;
	display: flex;

}

footer{
	background-color: black;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 10%;
	margin: 0;
}