*{

	margin: 0;

}

html{

}

body{

	background-image: url("../img/accueil_gorges_tarn_al.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat; 
	height: 100%;
	width: 100%;
	padding: 10px;

}

h1, h2, h3, h4{

}

#main{
	display: flex;
  	flex-flow: row wrap;
}

.haut, .milieu, .bas{
	flex: 1 100%;
	text-align: center;

}

@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .cote1{ flex: 1 auto; }
  .cote2{ flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .milieu { flex: 2 0px; }
  
  .cote1 { order: 1; }
  .milieu { order: 2; }
  .cote2 { order: 3; }
  .bas  { order: 4; }
}

.haut{
	color: #fff;
	background-color: #417F54;
	opacity: 0.7;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	width: 100%;
	height: 30%;
	margin: auto;
	display: flex;
	flex-direction: column;
	
}

.sousti{
	color: black; 
}



.article{
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-flow: column; 
	flex: 1 100%;
	justify-content: space-between;
	
}

.point{
	
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-flow: row; 
	flex: 1 100%;
	justify-content: space-between;
	align-items: flex-start;
	margin: 10%;
}


  
.moit1{
	padding-left: 

}

.moit2{
	padding-right: 20px; 
}

.bouton{

	background: none;
	border-style: none;
	text-align: center;
	height: 10px;
	width: 100px;
	padding: 10px;
	margin: auto;
	outline-style:none;
}





li{
	list-style: none;
}

.milieu{
	color: #fff;
	background-image: url("../img/fall-autumn-red-season.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	width: 100%;
	height: 50%;
	
	padding: 0;
	display: flex;

}

.cote1{

	
	
	
}

.article1{

	background-color: black;
}

.cote2{
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	display: flex;
}

.bas{
	color: black;
	background-color: rgba(250, 250, 250, 0.5);
	width: 100%;
	height: 20%;

	display: flex;
	text-align: center;
	padding: 4.5em 0;

}
#car{


    height:150px;
    width:90%;
    margin:auto;
	border: 1px solid;
    border-color: black;
    border-radius: 40px 40px 40px 40px;

}

#car ul li{
    
    padding: 1.5em;
    right: 35%;
}


/*footer{
	background-color: black;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 10%;
	margin: 0;
} */

#fh5co-footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 7em 0;
  z-index: 1;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 5em 0;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-footer {
    height: inherit;
    position: relative;
  }
}

.fh5co-social {
  padding: 0;
  margin: 0;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-social li a {
  font-size: 30px;
  padding: 10px;
}
.fh5co-social li a i {
  font-size: 30px;
}
.fh5co-social li a:hover, .fh5co-social li a:active, .fh5co-social li a:focus {
  outline: none;
  text-decoration: none;
}

#fh5co-offcanvas, #fh5co-container, .fh5co-nav-toggle, #fh5co-footer {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#fh5co-container, .fh5co-nav-toggle, #fh5co-footer {
  z-index: 2;
  position: relative;
}
